<!doctype html>
<html>
  <head>
    <title>Fortis Panel App</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--<link href="css/main.css" rel="stylesheet" >-->
  </head>
  <body>
<h1 align = "center">Fortis Panel App</h1>
<hr>
<div class = "container">
  <div class  = "row">
    <div class = "col-md-6">
	   <form method = 'POST' action = ''> {% csrf_token %}

		  {{form.as_p}}	

		  <button type = 'submit' name = "enter"> Enter Panel</button>

	   </form>
   </div>
</div>
</div>
</body>

</html>